@media all and (min-width : 770px) and (max-width : 1100px){
    .main .txtSet h1{
        font-size: 60px;
    }
    .main .txtSet p{
        font-size: 24px;
    }
    section .manuName p{
        font-size: 18px;
    }
    section{
        position: relative;
    }
    section button{
        position: absolute;
        bottom: 10%;
        left: 22%;
    }

    .resume .txtSet .name .mainName{
        font-size: 18px;
    }
    .resume .txtSet .name .detail{
        font-size: 14px;
    }
    .resume .txtSet .txtCon{
        display: block;
    }
    .resume .txtSet .txtCon .email{
        width: 100%;
    }
    .resume .txtSet .txtCon .phone{
        width: 100%;
    }
    
    .project .txtSet p{
        font-size: 50px;
    }

    .mainProject .con .imgSet{
        width: calc(60% - 10px);
    }
    .mainProject .con .txtSet{
        width: calc(40% - 10px);
    }
    .mainProject .con .txtSet .stackImg .icon{
        width: 40px;
    }
}